<p id="notice"><%= notice %></p>

<h2> Panier </h2>

<ul>
  <% @cart.line_items.each do |item| %>
    <li> <%= item.product.title %>  (x <%= item.quantity %> )</li>
    <li> Prix unitaire = <%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></li>
  <% end %>

    <li> Total = <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></li>

</ul>
<%= button_to "Vider le panier", @cart, method: :delete, data: { confirm: "Etes vous sur ?"} %>
<p> <%= link_to "Retour", root_path %> </p>
